@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Heading>>

<section class="ds_section heading-line">
    <div class="">
        <div class="section-heading">
            <div class="heading aos-init aos-animate" data-aos="fade-up">
                @if (Model.Content.Type == "h1")
                {
                    <h1>@Model.Content.Text</h1>
                }
                else if (Model.Content.Type == "h2")
                {
                    <h2>@Model.Content.Text</h2>
                }
                else if (Model.Content.Type == "h3")
                {
                    <h3>@Model.Content.Text</h3>
                }
                else if (Model.Content.Type == "h4")
                {
                    <h4>@Model.Content.Text</h4>
                }
                else if (Model.Content.Type == "h5")
                {
                    <h5>@Model.Content.Text</h5>
                }
                else if (Model.Content.Type == "h6")
                {
                    <h6>@Model.Content.Text</h6>
                }
            </div>
        </div>
    </div>
</section>