@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<HighlightAreaLayout>>
@using Umbraco.Cms.Core.Models.Blocks
@using StackExchange.Profiling.Internal


@{
    var content = Model.Content.SafeCast<HighlightAreaLayout>();
    var settings = Model.Settings.SafeCast<AreaSettings>();
    var items = content.ItemPicker;
    bool centered = settings.CenteredLayout;


}
@* @await Html.PartialAsync("/Views/Partials/elements/blocklist-blockgrid/highlightArea.cshtml", Model.Content)  *@


<section class="section mb-0" style="background: #@(settings.AreaBgColor);">
    <div class="container">
        <div class="row mb-5">

            <div class="article-title-wrapper">
                <div class="col-12 d-flex flex-column @(settings.CenteredLayout ? "justify-content-center align-items-center" : "justify-content-start align-items-start") gap-2">

                    @if (settings.Logo != null)
                    {
                        <a href="#">
                            <img src="@settings.Logo.Url()" alt="@settings.Logo.Name" style="max-height:75px"/>
                        </a>
                    }
                    <h4 class="text-uppercase headline-bubble @(settings.CenteredLayout ? "center-bubble" : null)" style="
                            --headline-bubble-bg: #@(settings.HeadlineBgColor);
                            --headline-bubble-color: #@(settings.HeadlineColor);
                            --headline-bubble-color-hover: #@(settings.HeadlineColorHover);
                            --headline-bubble-bg-hover: #@(settings.HeadlineBgColorHover)">
                        <a href="#">
                            @settings.Headline <i class="fa-solid fa-caret-right"></i>
                        </a>
                    </h4>

                    <div class="row col-mb-50 mb-0 mt-5 justify-content-center">
                        @foreach (var item in items)
                        {
                            if (item.ContentType.Alias == "articleDetail")
                            {
                                
                                <div class="col-12" >

                                    @await Html.PartialAsync("elements/blocklist-blockgrid/Article", (ArticleDetail)item )

                                </div>
                            
                            }
                        }
                    </div>
                    
                </div>

            </div>

        </div>
    </div>
</section>