@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
  Layout = "Master.cshtml";
}
<partial name="TopSection">
  @{
    var ourheader = Model.Value<BlockGridModel>("os_heading").FirstOrDefault();
    if (ourheader != null)
    {
      var ouricon = ourheader.Content.Value<IPublishedContent>("icon");
      <section class="our-section">
        <div class="container">
          <div class="section-heading">
            @if (ouricon != null)
            {
              <div class="svg-icon" data-aos="fade-right">
                <img src="@ouricon.Url()" alt="" />
              </div>
            }
            <div class="heading" data-aos="fade-up">
              @if (ourheader.Content.HasValue("title"))
              {
                <h4>
                  @Html.Raw(ourheader.Content.Value("title"))
                </h4>
              }
              @if (ourheader.Content.HasValue("heading"))
              {
                <h2>
                  @Html.Raw(ourheader.Content.Value("heading"))
                </h2>
              }
            </div>
          </div>
        </div>
      </section>
    }
    if (Model.HasValue("os_ownerManaged") || Model.HasValue("os_founding") || Model.HasValue("os_location") || Model.HasValue("os_employee"))
    {
      <section>
        <div class="container our-statics">
          @if (Model.HasValue("os_founding"))
          {
            <div class="our-statics-item" data-aos="zoom-in">
              <span></span>
              <h4>Gründung</h4>
              <h3>@Model.Value("os_founding")</h3>
            </div>
          }
          @if (Model.HasValue("os_ownerManaged"))
          {
            <div class="our-statics-item" data-aos="zoom-in">
              <span></span>
              <h4>Inhabergeführte</h4>
              <h3>@Model.Value("os_ownerManaged")</h3>
            </div>
          }
          @if (Model.HasValue("os_location"))
          {
            <div class="our-statics-item" data-aos="zoom-in">
              <span></span>
              <h4>Standorte</h4>
              <h3>@Model.Value("os_location")</h3>
            </div>
          }
          @if (Model.HasValue("os_employee"))
          {
            <div class="our-statics-item" data-aos="zoom-in">
              <span></span>
              <h4>MITARBEITENDE</h4>
              <h3>@Model.Value("os_employee")</h3>
            </div>
          }
        </div>
      </section>
    }
  }
  @{
    var ioheader = Model.Value<BlockGridModel>("io_heading").FirstOrDefault();
    var ioVideo = Model.Value<IPublishedContent>("io_video");
    if (ioheader != null || ioVideo != null)
    {
      <section class="io-section">
        @if (ioheader != null)
        {
          var ioicon = ioheader.Content.Value<IPublishedContent>("icon");
          <div class="container">
            <div class="section-heading">
              @if (ioicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@ioicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (ioheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(ioheader.Content.Value("title"))
                  </h4>
                }
                @if (ioheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(ioheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          </div>
        }
      </section>
    }
    if (ioVideo != null)
    {
      <section class="io-video video_wraper">
        <video class="">
          <source src="@ioVideo.Url()">
          Your browser does not support the video tag.
        </video>
        <button type="button" class="play">
          <img src="~/assets/icons/play.svg" />
        </button>
      </section>
    }
  }
  @{
    var weheader = Model.Value<BlockGridModel>("wc_heading").FirstOrDefault();
    var wcLogos = Model.Value<BlockGridModel>("wc_logos");
    @if (weheader != null || wcLogos.Count() > 0 || Model.HasValue("wc_description"))
    {
      <section class="we-section">
        <div class="container">
          @if (weheader != null)
          {
            var weicon = weheader.Content.Value<IPublishedContent>("icon");
            <div class="section-heading">
              @if (weicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@weicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (weheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(weheader.Content.Value("title"))
                  </h4>
                }
                @if (weheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(weheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          }
          @if (Model.HasValue("wc_description"))
          {
            <div class="d-flex flex-row justify-content-end">
              <div class="description" data-aos="fade-up">
                @Html.Raw(Model.Value("wc_description"))
              </div>
            </div>
          }
          @if (wcLogos != null && wcLogos.Count() > 0)
          {
            <div class="logos">
              @foreach (var logo in wcLogos)
              {
                var li = logo.Content.Value<IPublishedContent>("nal_logo");
                                var link = logo.Content.Value<Link>("link");
                <div class="logo-item">
                  <p data-aos="fade-up">@logo.Content.Value("nal_name")</p>
                  <img src="/assets/icons/arrow-down.svg" alt="" class="l-icon" data-aos="fade-down" />
                    <a href="@link?.Url" target="@link?.Target"><img src="@li?.Url()" alt="" class="logo-img" /></a>
                </div>
              }
            </div>
          }
        </div>
      </section>
    }
  }
  @{
    var awheader = Model.Value<BlockGridModel>("aw_heading").FirstOrDefault();
    if (awheader != null || Model.HasValue("aw_description") || Model.HasValue("aw_gold") || Model.HasValue("aw_silver") || Model.HasValue("aw_bronze") || Model.HasValue("aw_shortlist"))
    {
      <section class="aw-section">
        <div class="container">
          @if (awheader != null)
          {
            var awicon = awheader.Content.Value<IPublishedContent>("icon");
            <div class="section-heading">
              @if (awicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@awicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (awheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(awheader.Content.Value("title"))
                  </h4>
                }
                @if (awheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(awheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          }
          @if (Model.HasValue("aw_description"))
          {
            <div class="d-flex flex-row justify-content-end">
              <div class="description" data-aos="fade-up">
                @Html.Raw(Model.Value("aw_description"))
              </div>
            </div>
          }
          @if (Model.HasValue("aw_gold") || Model.HasValue("aw_silver") || Model.HasValue("aw_bronze") || Model.HasValue("aw_shortlist"))
          {
            <div class="award">
              @if (Model.HasValue("aw_gold"))
              {
                <div class="award-item">
                  <img src="/assets/icons/prize-cup.svg" alt="" />
                  <div class="award-content">
                    <div class="value"><div class="counter" data-val="@Model.Value("aw_gold")"> 0</div> <span class="x">x</span></div>
                    <span class="name">Gold</span>
                  </div>
                </div>
              }
              @if (Model.HasValue("aw_silver"))
              {
                <div class="award-item">
                  <img src="/assets/icons/prize-cup.svg" alt="" />
                  <div class="award-content">
                    <div class="value"><div class="counter" data-val="@Model.Value("aw_silver")">0</div> <span class="x">x</span></div>
                    <span class="name">Silber</span>
                  </div>
                </div>
              }
              @if (Model.HasValue("aw_bronze"))
              {
                <div class="award-item">
                  <img src="/assets/icons/prize-cup.svg" alt="" />
                  <div class="award-content">
                    <div class="value"> <div class="counter" data-val="@Model.Value("aw_bronze")">0</div> <span class="x">x</span></div>
                    <span class="name">Bronze</span>
                  </div>
                </div>
              }
              @if (Model.HasValue("aw_shortlist"))
              {
                <div class="award-item">
                  <img src="/assets/icons/lorbeer.svg" alt="" />
                  <div class="award-content">
                    <div class="value"><div class="counter" data-val="@Model.Value("aw_shortlist")">0</div> <span class="x">x</span></div>
                    <span class="name">Shortlist</span>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </section>
    }
  }
  @{
    var cmpheader = Model.Value<BlockGridModel>("cmp_heading").FirstOrDefault();
    var cmpLogos = Model.Value<IEnumerable<IPublishedContent>>("cmp_logos");
    var cmpImage = Model.Value<IPublishedContent>("cmp_image");
    if (cmpheader != null || cmpImage != null || cmpLogos.Count() > 0)
    {
      <section class="cmp_section">
        @if (cmpheader != null)
        {
          var cmpicon = cmpheader.Content.Value<IPublishedContent>("icon");
          <div class="container">
            <div class="section-heading">
              @if (cmpicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@cmpicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (cmpheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(cmpheader.Content.Value("title"))
                  </h4>
                }
                @if (cmpheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(cmpheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          </div>
        }
        @if (cmpLogos != null && cmpLogos.Count() > 0)
        {
          <div class="cmp-logos">
            <div class="left">
            @foreach (var logo in cmpLogos)
            {
              <div class="logo">
                <img src="@logo.Url()" alt="" />
              </div>
            }
            </div>
                        <div class="left">
                            @foreach (var logo in cmpLogos)
                            {
                                <div class="logo">
                                    <img src="@logo.Url()" alt="" />
                                </div>
                            }
                        </div>
          </div>
          <div class="cmp-logos">
          <div class=right>
            @foreach (var logo in cmpLogos)
            {
              <div class="logo">
                <img src="@logo.Url()" alt="" />
              </div>
            }
                        </div>
                        <div class=right>
                            @foreach (var logo in cmpLogos)
                            {
                                <div class="logo">
                                    <img src="@logo.Url()" alt="" />
                                </div>
                            }
                        </div>
          </div>
        }
      </section>
      @if (cmpImage != null)
      {
        <section class="cmp_section_image bg-img" style="background: url(@cmpImage.Url())"></section>
      }
    }
  }
  @{
    var teamheader = Model.Value<BlockGridModel>("tms_heading").FirstOrDefault();
    var teamMember = Model.Value<BlockGridModel>("tms_teamMembers");
    if (teamheader != null || Model.HasValue("tms_description"))
    {
      <section class="team_section">
        <div class="container">
          @if (teamheader != null)
          {
            var thicon = teamheader.Content.Value<IPublishedContent>("icon");
            <div class="section-heading">
              @if (thicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@thicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (teamheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(teamheader.Content.Value("title"))
                  </h4>
                }
                @if (teamheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(teamheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          }
          @if (Model.HasValue("tms_description"))
          {
            <div class="d-flex flex-row justify-content-end align-items-end">
              @if (Model.HasValue("tms_description"))
              {
                <div class="description" data-aos="fade-up">
                  @Html.Raw(Model.Value("tms_description"))
                </div>
              }
            </div>
          }
        </div>
      </section>
    }
    if (teamMember.Count() > 0)
    {
      <section class="team_member">
        <div class="container">
          <div class="team_member_list">
            <ul>
              @for (var i = 0; i < teamMember.Count(); i++)
              {
                if (i % 2 == 0)
                {
                  var _ele = teamMember.ElementAt(i);
                  var memberImage = _ele.Content.Value<IPublishedContent>("tm_image");
                  <li data-aos="zoom-in">
                    <img src="@memberImage.Url()" alt="" />
                    <div class="info">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                          <rect y="23.374" width="23.3739" height="64" rx="5" transform="rotate(-90 0 23.374)" fill="currentColor" />
                          <rect x="64" y="64" width="23.3739" height="64" rx="5" transform="rotate(-180 64 64)" fill="currentColor" />
                          <rect x="16.5278" y="62.887" width="23.3739" height="64" rx="5" transform="rotate(-135 16.5278 62.887)" fill="currentColor" />
                        </svg>
                      </div>
                      <div class="content">
                        <p>@_ele.Content.Value("tm_name")</p>
                        <p>@_ele.Content.Value("tm_designation")</p>
                        <p>@_ele.Content.Value("tm_department")</p>
                      </div>
                    </div>
                  </li>
                }
              }
            </ul>
            <ul>
              @for (var i = 0; i < teamMember.Count(); i++)
              {
                if (i % 2 == 1)
                {
                  var _ele = teamMember.ElementAt(i);
                  var memberImage = _ele.Content.Value<IPublishedContent>("tm_image");
                  <li data-aos="zoom-in">
                    <img src="@memberImage.Url()" alt="" />
                    <div class="info">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                          <rect y="23.374" width="23.3739" height="64" rx="5" transform="rotate(-90 0 23.374)" fill="currentColor" />
                          <rect x="64" y="64" width="23.3739" height="64" rx="5" transform="rotate(-180 64 64)" fill="currentColor" />
                          <rect x="16.5278" y="62.887" width="23.3739" height="64" rx="5" transform="rotate(-135 16.5278 62.887)" fill="currentColor" />
                        </svg>
                      </div>
                      <div class="content">
                        <p>@_ele.Content.Value("tm_name")</p>
                        <p>@_ele.Content.Value("tm_designation")</p>
                        <p>@_ele.Content.Value("tm_department")</p>
                      </div>
                    </div>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </section>
    }
  }
  @{
    var hjheader = Model.Value<BlockGridModel>("hoj_heading").FirstOrDefault();
    var hjLink = Model.Value<Link>("hoj_link");
    var hjImage = Model.Value<IPublishedContent>("hoj_image");
    if (hjheader != null || hjLink != null || hjImage != null || Model.HasValue("hoj_description"))
    {
      <section class="hoj-section">
        <div class="container">
          @if (hjheader != null)
          {
            var jhhicon = hjheader.Content.Value<IPublishedContent>("icon");
            <div class="section-heading">
              @if (jhhicon != null)
              {
                <div class="svg-icon" data-aos="fade-right">
                  <img src="@jhhicon.Url()" alt="" />
                </div>
              }
              <div class="heading" data-aos="fade-up">
                @if (hjheader.Content.HasValue("title"))
                {
                  <h4>
                    @Html.Raw(hjheader.Content.Value("title"))
                  </h4>
                }
                @if (hjheader.Content.HasValue("heading"))
                {
                  <h2>
                    @Html.Raw(hjheader.Content.Value("heading"))
                  </h2>
                }
              </div>
            </div>
          }
          @if (Model.HasValue("hoj_description") || hjLink != null)
          {
            <div class="d-flex flex-sm-row flex-column gap-2 justify-content-end align-items-end d-l" data-aos="fade-up">
              @if (Model.HasValue("hoj_description"))
              {
                <div class="description">
                  @Html.Raw(Model.Value("cs_description"))
                </div>
              }
              @if (hjLink != null)
              {
                <a href="@hjLink.Url" target="@hjLink.Target" class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="65" height="54" viewBox="0 0 65 54" fill="none">
                    <line y1="27" x2="63" y2="27" stroke="currentColor" stroke-width="2" />
                    <line x1="37.7071" y1="1.29289" x2="63.7071" y2="27.2929" stroke="currentColor" stroke-width="2" />
                    <line x1="36.2929" y1="53.2929" x2="62.2929" y2="27.2929" stroke="currentColor" stroke-width="2" />
                  </svg>
                </a>
              }
            </div>
          }
        </div>
        @if (hjImage != null)
        {
          <div class="bg-img" style="background: url(@hjImage.Url())"></div>
        }
      </section>
    }
  }
  <partial name="Contact">

    @section CSS
    {
      <link rel="stylesheet" type="text/css" href="/assets/css/home.css" />
    }
    @section Scripts
    {
      <script src="/assets/lib/counter.js" crossorigin="anonymous"></script>
    }
